html,body {
    margin: 0;
    padding: 0;

    height: 100%; /* Por algum motivo não funciona apenas com heigh/min-height */
    min-height: 100%;

    overflow: auto; /* Permite que tenha um scroll na página */
}

/* Coisas para melhorar:
    - Painting está ficando torto e vazando
    - Analisar se o menu está funcionando bem em ambas as telas
*/

body {
    background-color: aquamarine;
    
    display: flex;
    flex-direction: column;

    min-height: 100vh; /* Garante que o body preencha toda a altura da tela */
}

header, footer {
    background-color: rgb(114, 187, 252); 

     flex-shrink: 0;/*Impede que ele encolha quando o conteúdo fica maior */

    width: 100%; /* As tags ocupam toda a largura disponível */
    height: 12vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que ele cresça e ocupe o espaço que sobrou */

    width: 100%; /* A tag main ocupa toda a largura disponível */
}

.menu {
    width: 40vw;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.logo {
    width: 60px;
    aspect-ratio: 1;
    margin-left: 2vw;
}

.container-arts {
    display: flex;
    flex-wrap: wrap; /* Joga os elementos que não couberam na próxima linha */
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que ele cresça e ocupe o espaço que sobrou */

    row-gap: 3vw; /* Espaço entre os frames */
    column-gap: 10vh; /* Espaço entre os frames */

    width: 70vw; /* Largura do container pai dos frames */
    margin: 3vw 0; /* Margem superior e inferior dos frames */
}

.frame {
    background-color: blueviolet;

    width: 35%; 
    /* A altura de cada frame será um calculo de 40% do espaço disponível menos o gap - calc(40% - 3vw) */
    aspect-ratio: 1; /* Mantém a proporção de 1:1 da altura com a largura */
    box-sizing: border-box;
    padding: 1rem;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.painting {
    background-color: yellow;

    width: 95%;
    aspect-ratio: 1;
    margin: 2vh 1vw;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    color: white;
}

.name {
    font-family: 'Courier New', Courier, monospace;
}

.copy {
    background-color: rgba(0, 0, 0, 0.505);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.copy:hover {
    background-color:  rgba(0, 0, 0, 0.685);
    color: rgb(228, 228, 228);
}

footer {
    margin-top: auto; /*Prende o rodapé no fim da página*/
}

/* Media Query para telas pequenas (celulares) */
@media (max-width: 768px) {
    .container {
        width: 90vw; /* Aumenta um pouco a largura para telas pequenas */
        gap: 5vw; /* Diminui o espaçamento entre os quadrados */
        margin: 6vw 0; /* Margem superior e inferior dos frames */
    }

    .frame {
        width: 70%; /* Alinha as divs em uma única coluna */
    }

    .menu {
        width: 50vw; /* Aumenta o menu para ocupar quase toda a largura disponível */
        justify-content: space-between; /* Ajusta os itens uniformemente */
        flex-wrap: wrap; /* Quebra o menu em mais de uma linha, se necessário */
    }

    .menu a {
        font-size: large; /* Diminui o tamanho da fonte */
        padding: 0 15px; /* Ajusta os espaçamentos internos */
    }
}

/* Media Query para telas grandes (widescreen) */
@media (min-width: 1920px) {
    .frame {
        width: 20%;
    }
}